body{
	padding-top: 60px;
}

#image_display{
	//margin-top: 100px;

	//border: 1px solid #8AC007;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.box {
  float: left;
  width: 50px;
}
.container{
	width: 90%;
}
.button-margin{
	padding-left: 10px;
}
.list-group{
	overflow-x: scroll;
	//background: red;
}
.container_for_image{
	background: red;
	margin-bottom: 0 auto;
	position: absolute;
}

#image-display{
	width: 100%;
	resize: none;
}

.button_aligned{
	 vertical-align: center;
 }S
/*
#image-display{
	display: block;
    width: auto;
    //max-width: 75%;
}





}
*/
